body {
    background: #eee;
}

#transList li.plus {
    border-right: 5px solid #28a745;
}

#transList li.minus {
    border-right: 5px solid #dc3545;
}

button#delete-btn {
    opacity: 0.9;
}

@media(max-width: 550px) {
    html {
        font-size: 14px;
    }
    .info {
        padding: 1rem 1.5rem !important;
    }
}